<nav class="navbar bg-light">
	<div class="row">
		<h1 class="text-info ml-3">Article's</h1>
		<ul class="list-unstyled m-3">
			<li>
				<%= link_to "Add New Article", new_article_path, class: "list-decoration-none" %>
			</li>
		</ul>
	</div>
	<%= link_to "Log_out", destroy_user_session_path %>
</nav>
<div class="container mt-4">
	<div class="col-5 mx-auto">
		<table class="table p-2">
			<thead class="table-dark">
				<tr>
					<th class="text-center font-weight-bold">ARTICLE'S</th>
				</tr>
			</thead>
			<% @articles.each do |article| %>
			<tbody >
				<tr>
					<td >
						<%= link_to article.title, article , class: "text-uppercase" %>
					</td>
				</tr>
			</tbody>
			<% end %>
		</table>
		<%= paginate @articles %>
	</div>
</div>
